{% extends 'base.html' %}
{% block content %}
<h4>🏢 Hostel List</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Hostel Name</th>
            <th>Total Rooms</th>
            <th>Warden</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        {% for h in hostels %}
        <tr>
            <td>{{ h.hostel_name }}</td>
            <td>{{ h.total_rooms }}</td>
            <td>{{ h.warden_name }}</td>
            <td>{{ h.contact_no }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
