{% extends 'base.html' %}
{% block title %}Edit Student{% endblock %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-header bg-warning">
        <h5 class="mb-0">✏️ Edit Student</h5>
    </div>

    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row g-3">

                <div class="col-md-6">
                    <label class="form-label">Full Name</label>
                    <input type="text" name="name" class="form-control" value="{{ student.name }}">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Roll Number</label>
                    <input type="text" name="roll_no" class="form-control" value="{{ student.roll_no }}">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Contact Number</label>
                    <input type="text" name="contact_no" class="form-control" value="{{ student.contact_no }}">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Parent Contact</label>
                    <input type="text" name="parent_contact" class="form-control" value="{{ student.parent_contact }}">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Hostel</label>
                    <input type="text" name="hostel_name" class="form-control" value="{{ student.hostel_name }}">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Room</label>
                    <input type="text" name="room_no" class="form-control" value="{{ student.room_no }}">
                </div>

            </div>

            <div class="mt-4 text-end">
                <a href="/students/" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-success">Update Student</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
